*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.head{
    background-color: rgb(1, 100, 1); 
    text-align: center; 
}

.head ul{
    display: inline-flex;
    list-style: none; 
}

.head ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
}

.head ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.head ul li:hover{
        background-color: #2ba;
        border-radius: 10px;
}
.head ul li:hover a:hover{
    color: black;
}

.head ul li:hover a:not(:hover){
    color: black;
}

.sub-menu-1{
    display: none;
}

.head ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(0,100,0); 
    margin-top: 15px;
    margin-left: -15px;
}

.head ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.head ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align: left;
    border-radius: 5px;
}





a{
    text-decoration: none;
}
.video{
    background: gray;
    height: 450px;
}

.class{
    background: yellow;
}

.classes{
    display: flex;
    justify-content: center;
    height: 450px;
}

.c1{
    background: brown;
    text-align: center;
    margin: 50px;
    border-radius: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.c1 img{
    height: 250px;
    width: 350px;
    border-radius: 50px;
}
.c1 h5{
    margin: 30px;
}
h1{
    padding: 30px;
}

.staff{
    background: pink;
}
.staffs{
    display: flex;
    justify-content: center;
    height: 450px;
}

.program{
    background: red;
}
.programs{
    display: flex;
    justify-content: center;
    height: 450px;
}

.new{
    background: green;
}
.news{
    display: flex;
    justify-content: center;
    height: 450px;
}







.fotter-head{
    background-color: rgb(7, 3, 82); 
    text-align: center; 
}
.fotter-head ul{
    display: inline-flex;
    list-style: none;  
}
.fotter-head ul li{
    width: 390px;
    margin: 15px;
    padding: 10px;
}
.fotter-head ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-body{
    background-color: rgb(8, 8, 124);
    text-align: center;
    padding: 25px;
}
.icons{
    list-style: none;
    display: inline-flex;
}
 
.footer-body .icons li a img{
  width: 25px;
  text-align: center ;
}


.footer-bottom{
    background-color: rgb(7, 3, 82);
    color: #fff;
    text-align: center;
}

hr{
    margin: 1px;
    border: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}