*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





a{
    text-decoration: none;
}
.video{
    background: gray;
    height: 450px;
}

.class{
    background: yellow;
}

.classes{
    display: flex;
    justify-content: center;
    height: 450px;
}

.c1{
    background: brown;
    text-align: center;
    margin: 50px;
    border-radius: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.c1 img{
    height: 250px;
    width: 350px;
    border-radius: 50px;
}
.c1 h5{
    margin: 30px;
}
h1{
    padding: 30px;
}

.staff{
    background: pink;
}
.staffs{
    display: flex;
    justify-content: center;
    height: 450px;
}

.program{
    background: red;
}
.programs{
    display: flex;
    justify-content: center;
    height: 450px;
}

.new{
    background: green;
}
.news{
    display: flex;
    justify-content: center;
    height: 450px;
}