*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}







.l img{
    width: 100%;
    height: 600px;
}
img{
    width: 200px;
    height: 200px;
}
.l, .h{
    text-align: center;
}
.h{
    background-color: aqua;
    padding: 50px;
    border: 2px solid;
}
.l p{
    margin-bottom: 50px;
}
h1{
    padding: 30px;
}
h2{
    padding: 20px;
}