*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





h1{
    text-align: center;
    padding: 20px;
}
.staffs{
    justify-content: center;
    height: 450px; 
}
.staff{
    float: left;
    text-align: center;
    background: brown;
    text-align: center;
    margin: 50px;
    border-radius: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.staff img{
    height: 250px;
    width: 350px;
    border-radius: 50px;
}